CREATE DATABASE Stock;
GO
USE [stock]
GO
/****** Object:  Table [dbo].[AdminInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminInfo](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[EmailID] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[LoginID] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[PicURL] [nvarchar](100) NULL,
	[AdminType] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [char](1) NULL,
	[BlockStatus] [char](1) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateAdminID] [int] NULL,
	[CompanyID] [int] NULL,
 CONSTRAINT [PK_AdminInfo] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminLoginInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLoginInfo](
	[AdminLoginID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NOT NULL,
	[TotalLogin] [int] NULL,
	[LastLoginDate] [datetime] NULL,
	[LastLoginTime] [time](7) NULL,
	[Status] [char](1) NULL,
 CONSTRAINT [PK_AdminLoginInfo] PRIMARY KEY CLUSTERED 
(
	[AdminLoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminPicInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminPicInfo](
	[AdminPICID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NULL,
	[ImageBytes] [varbinary](max) NULL,
	[Status] [char](1) NULL,
	[CreateDate] [date] NULL,
	[UpdateDate] [date] NULL,
 CONSTRAINT [PK_AdminPicInfo] PRIMARY KEY CLUSTERED 
(
	[AdminPICID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityInfo](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[StateID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [char](1) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[AdminID] [int] NULL,
 CONSTRAINT [PK_CityInfo] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyInfo](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Status] [char](1) NULL,
	[CreateDate] [datetime] NULL,
	[AdminID] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_CompanyInfo] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactUsInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUsInfo](
	[ContactUSID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [char](1) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[DeviceToken] [nvarchar](500) NULL,
	[ReadStatus] [char](1) NULL,
	[ReadDate] [datetime] NULL,
	[AdminID] [int] NULL,
	[Reply] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContactUsInfo] PRIMARY KEY CLUSTERED 
(
	[ContactUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleInfo](
	[ModuleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [char](1) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[AdminID] [int] NULL,
	[Priority] [int] NULL,
 CONSTRAINT [PK_ModuleInfo] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageInfo](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NULL,
	[PageName] [nvarchar](50) NULL,
	[PageLink] [nvarchar](50) NULL,
	[Priority] [int] NULL,
	[Status] [char](1) NULL,
	[UpdateDate] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[AdminID] [int] NULL,
 CONSTRAINT [PK_PageInfo] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionInfo](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NULL,
	[Permission] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [char](1) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[AdminID1] [int] NULL,
 CONSTRAINT [PK_PermissionInfo] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualificationInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualificationInfo](
	[QualificationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [char](1) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[AdminID] [int] NULL,
 CONSTRAINT [PK_QualificationInfo] PRIMARY KEY CLUSTERED 
(
	[QualificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RollInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RollInfo](
	[RollID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [int] NULL,
	[PageID] [int] NULL,
	[Status] [char](1) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[AdminID1] [int] NULL,
 CONSTRAINT [PK_RollInfo] PRIMARY KEY CLUSTERED 
(
	[RollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateInfo](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [char](1) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[AdminID] [int] NULL,
 CONSTRAINT [PK_StateInfo] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminInfo] ON 

INSERT [dbo].[AdminInfo] ([AdminID], [Name], [EmailID], [Mobile], [LoginID], [Password], [PicURL], [AdminType], [CreatedDate], [Status], [BlockStatus], [UpdateDate], [UpdateAdminID], [CompanyID]) VALUES (1, N'STOCK', N'admin1223@gmail.com', N'8989899989', N'admin', N'Wj7VoVOy/+7ytLNAvim/Yw==', N'', N'S', CAST(N'2018-09-27T16:33:20.970' AS DateTime), N'E', N'N', CAST(N'2024-10-16T21:19:00.427' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[AdminInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminLoginInfo] ON 

INSERT [dbo].[AdminLoginInfo] ([AdminLoginID], [AdminID], [TotalLogin], [LastLoginDate], [LastLoginTime], [Status]) VALUES (1, 1, 1, CAST(N'2024-10-16T21:23:34.393' AS DateTime), CAST(N'21:23:34.3933333' AS Time), N'E')
SET IDENTITY_INSERT [dbo].[AdminLoginInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminPicInfo] ON 

SET IDENTITY_INSERT [dbo].[AdminPicInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[CityInfo] ON 

INSERT [dbo].[CityInfo] ([CityID], [StateID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID]) VALUES (1005, 1009, N'Chandigarh', N'E', CAST(N'2018-10-30T11:50:00.493' AS DateTime), CAST(N'2018-10-30T11:50:59.283' AS DateTime), 1)
INSERT [dbo].[CityInfo] ([CityID], [StateID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID]) VALUES (1006, 1010, N'Anantnag', N'E', CAST(N'2018-10-30T11:50:00.493' AS DateTime), CAST(N'2018-10-30T11:50:59.283' AS DateTime), 1)
INSERT [dbo].[CityInfo] ([CityID], [StateID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID]) VALUES (1007, 1010, N'Badgam', N'E', CAST(N'2018-10-30T11:50:00.493' AS DateTime), CAST(N'2018-10-30T11:50:59.283' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[CityInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[CompanyInfo] ON 

INSERT [dbo].[CompanyInfo] ([CompanyID], [CompanyName], [Email], [Mobile], [Fax], [Address], [Status], [CreateDate], [AdminID], [UpdateDate]) VALUES (1, N'Stock', N'', N'', N'', N'', N'E', CAST(N'2023-05-16T12:19:42.363' AS DateTime), 1, CAST(N'2023-05-16T12:19:42.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[CompanyInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[ModuleInfo] ON 

INSERT [dbo].[ModuleInfo] ([ModuleID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID], [Priority]) VALUES (1, N'Module Master', N'E', CAST(N'2018-09-28T16:18:08.627' AS DateTime), CAST(N'2023-05-16T12:27:04.720' AS DateTime), 1, -1)
INSERT [dbo].[ModuleInfo] ([ModuleID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID], [Priority]) VALUES (6, N'Settings', N'E', CAST(N'2018-09-29T12:04:38.900' AS DateTime), CAST(N'2018-10-02T13:42:51.503' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[ModuleInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[PageInfo] ON 

INSERT [dbo].[PageInfo] ([PageID], [ModuleID], [PageName], [PageLink], [Priority], [Status], [UpdateDate], [CreateDate], [AdminID]) VALUES (1, 1, N'Module Master', N'../Module/Module.aspx', 3, N'E', CAST(N'2018-09-30T16:16:05.240' AS DateTime), CAST(N'2018-09-29T11:47:25.870' AS DateTime), 1)
INSERT [dbo].[PageInfo] ([PageID], [ModuleID], [PageName], [PageLink], [Priority], [Status], [UpdateDate], [CreateDate], [AdminID]) VALUES (2, 1, N'Page Master', N'../Module/PageMaster.aspx', 4, N'E', CAST(N'2018-09-29T11:58:19.877' AS DateTime), CAST(N'2018-09-29T11:58:19.877' AS DateTime), 1)
INSERT [dbo].[PageInfo] ([PageID], [ModuleID], [PageName], [PageLink], [Priority], [Status], [UpdateDate], [CreateDate], [AdminID]) VALUES (3, 6, N'Update Profile', N'../Admin/ChangePassword.aspx', 5, N'E', CAST(N'2018-10-04T12:23:50.673' AS DateTime), CAST(N'2018-09-29T12:05:17.347' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PageInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[PermissionInfo] ON 

INSERT [dbo].[PermissionInfo] ([PermissionID], [AdminID], [Permission], [Name], [Status], [CreateDate], [UpdateDate], [AdminID1]) VALUES (6205, 1, 1, N'Insert', N'E', CAST(N'2024-02-24T21:00:08.060' AS DateTime), CAST(N'2024-02-24T21:00:08.060' AS DateTime), 1)
INSERT [dbo].[PermissionInfo] ([PermissionID], [AdminID], [Permission], [Name], [Status], [CreateDate], [UpdateDate], [AdminID1]) VALUES (6206, 1, 2, N'Update', N'E', CAST(N'2024-02-24T21:00:08.320' AS DateTime), CAST(N'2024-02-24T21:00:08.320' AS DateTime), 1)
INSERT [dbo].[PermissionInfo] ([PermissionID], [AdminID], [Permission], [Name], [Status], [CreateDate], [UpdateDate], [AdminID1]) VALUES (6207, 1, 3, N'Delete', N'E', CAST(N'2024-02-24T21:00:08.580' AS DateTime), CAST(N'2024-02-24T21:00:08.580' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PermissionInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[QualificationInfo] ON 

INSERT [dbo].[QualificationInfo] ([QualificationID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID]) VALUES (1, N'Graduate', N'E', CAST(N'2018-10-06T11:02:08.283' AS DateTime), CAST(N'2023-05-16T08:42:00.903' AS DateTime), 1)
INSERT [dbo].[QualificationInfo] ([QualificationID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID]) VALUES (2, N'Illiterate', N'E', CAST(N'2018-10-06T11:02:13.187' AS DateTime), CAST(N'2023-05-16T12:40:30.463' AS DateTime), 1)
INSERT [dbo].[QualificationInfo] ([QualificationID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID]) VALUES (3, N'Post Graduate', N'E', CAST(N'2018-10-06T11:02:19.000' AS DateTime), CAST(N'2018-10-06T11:02:19.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[QualificationInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[RollInfo] ON 

INSERT [dbo].[RollInfo] ([RollID], [AdminID], [PageID], [Status], [CreateDate], [UpdateDate], [AdminID1]) VALUES (267, 6, 3, N'E', CAST(N'2018-10-03T15:11:48.343' AS DateTime), CAST(N'2018-10-03T15:11:48.343' AS DateTime), 1)
INSERT [dbo].[RollInfo] ([RollID], [AdminID], [PageID], [Status], [CreateDate], [UpdateDate], [AdminID1]) VALUES (268, 6, 1002, N'E', CAST(N'2018-10-03T15:11:48.347' AS DateTime), CAST(N'2018-10-03T15:11:48.347' AS DateTime), 1)
INSERT [dbo].[RollInfo] ([RollID], [AdminID], [PageID], [Status], [CreateDate], [UpdateDate], [AdminID1]) VALUES (269, 6, 1003, N'E', CAST(N'2018-10-03T15:11:48.347' AS DateTime), CAST(N'2018-10-03T15:11:48.347' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RollInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[StateInfo] ON 

INSERT [dbo].[StateInfo] ([StateID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID]) VALUES (1009, N'Chandigarh *', N'E', CAST(N'2018-10-30T11:46:08.680' AS DateTime), CAST(N'2018-10-30T11:46:43.893' AS DateTime), 1)
INSERT [dbo].[StateInfo] ([StateID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID]) VALUES (1010, N'Jammu & Kashmir', N'E', CAST(N'2018-10-30T11:46:08.680' AS DateTime), CAST(N'2018-10-30T11:46:43.893' AS DateTime), 1)
INSERT [dbo].[StateInfo] ([StateID], [Name], [Status], [CreateDate], [UpdateDate], [AdminID]) VALUES (1011, N'Orissa', N'E', CAST(N'2018-10-30T11:46:08.680' AS DateTime), CAST(N'2018-10-30T11:46:43.893' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[StateInfo] OFF
GO
ALTER TABLE [dbo].[AdminInfo] ADD  CONSTRAINT [DF_AdminInfo_AdminType]  DEFAULT ('A') FOR [AdminType]
GO
ALTER TABLE [dbo].[AdminInfo] ADD  CONSTRAINT [DF_AdminInfo_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AdminInfo] ADD  CONSTRAINT [DF_AdminInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[AdminInfo] ADD  CONSTRAINT [DF_AdminInfo_BlockStatus]  DEFAULT ('N') FOR [BlockStatus]
GO
ALTER TABLE [dbo].[AdminInfo] ADD  CONSTRAINT [DF_AdminInfo_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[AdminLoginInfo] ADD  CONSTRAINT [DF_AdminLoginInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[AdminPicInfo] ADD  CONSTRAINT [DF_AdminPicInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[AdminPicInfo] ADD  CONSTRAINT [DF_AdminPicInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AdminPicInfo] ADD  CONSTRAINT [DF_AdminPicInfo_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[CityInfo] ADD  CONSTRAINT [DF_CityInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[CityInfo] ADD  CONSTRAINT [DF_CityInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[CompanyInfo] ADD  CONSTRAINT [DF_CompanyInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[CompanyInfo] ADD  CONSTRAINT [DF_CompanyInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[CompanyInfo] ADD  CONSTRAINT [DF_CompanyInfo_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ContactUsInfo] ADD  CONSTRAINT [DF_ContactUsInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[ContactUsInfo] ADD  CONSTRAINT [DF_ContactUsInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ContactUsInfo] ADD  CONSTRAINT [DF_ContactUsInfo_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ContactUsInfo] ADD  CONSTRAINT [DF_ContactUsInfo_ReadStatus]  DEFAULT ('N') FOR [ReadStatus]
GO
ALTER TABLE [dbo].[ModuleInfo] ADD  CONSTRAINT [DF_ModuleInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[ModuleInfo] ADD  CONSTRAINT [DF_ModuleInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PageInfo] ADD  CONSTRAINT [DF_PageInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[PageInfo] ADD  CONSTRAINT [DF_PageInfo_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[PageInfo] ADD  CONSTRAINT [DF_PageInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PermissionInfo] ADD  CONSTRAINT [DF_PermissionInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[PermissionInfo] ADD  CONSTRAINT [DF_PermissionInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[QualificationInfo] ADD  CONSTRAINT [DF_QualificationInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[QualificationInfo] ADD  CONSTRAINT [DF_QualificationInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[RollInfo] ADD  CONSTRAINT [DF_RollInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[RollInfo] ADD  CONSTRAINT [DF_RollInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[StateInfo] ADD  CONSTRAINT [DF_StateInfo_Status]  DEFAULT ('E') FOR [Status]
GO
ALTER TABLE [dbo].[StateInfo] ADD  CONSTRAINT [DF_StateInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[AdminLoginInfo]  WITH CHECK ADD  CONSTRAINT [FK_AdminLoginInfo_AdminInfo] FOREIGN KEY([AdminID])
REFERENCES [dbo].[AdminInfo] ([AdminID])
GO
ALTER TABLE [dbo].[AdminLoginInfo] CHECK CONSTRAINT [FK_AdminLoginInfo_AdminInfo]
GO
ALTER TABLE [dbo].[CompanyInfo]  WITH CHECK ADD  CONSTRAINT [FK_CompanyInfo_AdminInfo] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[AdminInfo] ([AdminID])
GO
ALTER TABLE [dbo].[CompanyInfo] CHECK CONSTRAINT [FK_CompanyInfo_AdminInfo]
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminLogin]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AdminLogin]
(
@uname NVARCHAR(50),  @pass NVARCHAR(50)
)
AS
BEGIN
SET NOCOUNT ON;
declare @AdminID NVARCHAR(50)
declare @Name NVARCHAR(50)
declare @TotalLogin int
declare @LastloginDate NVARCHAR(50)
declare @LastloginTime NVARCHAR(50)


declare @t table(AdminID NVARCHAR(50), Name NVARCHAR(50), TotalLogin NVARCHAR(50), LastloginDate NVARCHAR(50), LastloginTime NVARCHAR(50))

Select @AdminID=AdminID,@Name=Name FROM AdminInfo WHERE LoginID=@uname AND Password=@pass and Status='E' and BlockStatus='N';
Select @TotalLogin=TotalLogin,@LastloginDate=LastloginDate,@LastloginTime=LastloginTime from AdminLoginInfo where AdminID=@AdminID and Status='E'  ;
update AdminLoginInfo set TotalLogin=@TotalLogin+1,LastloginDate=GETDATE(),LastloginTime=GETDATE() where AdminID=@AdminID and Status='E';

insert into @t values(@AdminID,@Name,@TotalLogin,@LastloginDate,@LastloginTime)
select * from @t
end

GO
/****** Object:  StoredProcedure [dbo].[sp_BlockAdmin]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




Create PROCEDURE [dbo].[sp_BlockAdmin]
(
@AdminID int,
@AdminID1 int
)
AS
BEGIN
SET NOCOUNT ON;
Update AdminInfo set BlockStatus='N' ,UpdateAdminID=@AdminID1,UpdateDate=GETDATE() where AdminID=@AdminID and status='E'
end



GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAdmin]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




Create PROCEDURE [dbo].[sp_DeleteAdmin]
(
@AdminID int,
@AdminID1 int
)
AS
BEGIN
SET NOCOUNT ON;
Update AdminInfo set status='D' ,UpdateAdminID=@AdminID1,UpdateDate=GETDATE() where AdminID=@AdminID and status='E'
end



GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCity]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROCEDURE [dbo].[sp_DeleteCity]
(
@CityID int,
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
update CityInfo set  status='D' ,AdminID=@AdminID,UpdateDate=getdate() where CityID=@CityID and status='E';
end

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteModule]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROCEDURE [dbo].[sp_DeleteModule]
(
@ModuleID int,
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
Update ModuleInfo set status='D' ,AdminID=@AdminID,UpdateDate=GETDATE() where ModuleID=@ModuleID and status='E'
end

GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePage]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[sp_DeletePage]
(
@PageID int,
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
update PageInfo set  status='D' ,AdminID=@AdminID,UpdateDate=getdate() where PageID=@PageID and status='E';
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteState]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create PROCEDURE [dbo].[sp_DeleteState]
(
@StateID int,
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
Update StateInfo set status='D' ,AdminID=@AdminID,UpdateDate=GETDATE() where StateID=@StateID and status='E'
end


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAdmin]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_InsertAdmin]
(
@Name NVARCHAR(50),
@EmailID NVARCHAR(50),
@Mobile NVARCHAR(50),
@LoginID NVARCHAR(50),
@Password NVARCHAR(50),
@PicURL NVARCHAR(100),
@PicBytes VARBINARY(MAX),
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
declare @CompanyID int
declare @NewAdminID int

select @CompanyID=CompanyID from AdminInfo where AdminID=UpdateAdminID and status='E';
insert into AdminInfo(Name,EmailID,Mobile,LoginID,Password,PicURL,CompanyID,UpdateAdminID,CreatedDate,UpdateDate) values(@Name,@EmailID,@Mobile,@LoginID,@Password,@PicURL,@CompanyID,@AdminID,getdate(),GETDATE()) ;
Select @NewAdminID=max(AdminID) from AdminInfo where AdminType='A' and CompanyID=@CompanyID and status='E'; 
insert into AdminLoginInfo(AdminID,TotalLogin,LastLoginDate,LastLoginTime) values(@NewAdminID,'1',GETDATE(),GETDATE())
update AdminPicInfo set Status='D' where AdminID=@NewAdminID and Status='E';
insert into AdminPicInfo(AdminId,ImageBytes) values(@NewAdminID,@PicBytes);
end


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCity]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_InsertCity]
(
@StateID int,
@CityName NVARCHAR(50),
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;


insert into CityInfo(StateID,Name ,AdminID,CreateDate,UpdateDate) values(@StateID,@CityName,@AdminID,getdate(),GETDATE());
end

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertContactUsInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create PROCEDURE [dbo].[sp_InsertContactUsInfo]
(
@Name NVARCHAR(50),
@Mobile	nvarchar(50),
@Email	nvarchar(50),
@DeviceToken nvarchar(50),
@Message	nvarchar(MAX)

)
AS
BEGIN
SET NOCOUNT ON;
insert into ContactUsInfo(Name,Mobile,Email,Message,DeviceToken) values(@Name,@Mobile,@Email,@Message,@DeviceToken);
end

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertModule]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[sp_InsertModule]
(
@Name NVARCHAR(50),
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
insert into ModuleInfo(Name,AdminID,CreateDate,UpdateDate) values(@Name,@AdminID,getdate(),GETDATE());
end
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPage]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertPage]
(
@ModuleID int,
@PageName NVARCHAR(50),
@PageLink  NVARCHAR(50),
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
declare @prty int 
Select @prty=MAX(Priority) from PageInfo where Status='E'

insert into PageInfo(ModuleID,PageName,PageLink ,AdminID,CreateDate,UpdateDate,Priority) values(@ModuleID,@PageName,@PageLink ,@AdminID,getdate(),GETDATE(),@prty);
end
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPermission]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_InsertPermission]
(
@Permission NVARCHAR(50),
@Name  NVARCHAR(50),
@AdminID int,
@AdminID1 int
)
AS
BEGIN
SET NOCOUNT ON;

insert into PermissionInfo(Permission,Name,AdminID,AdminID1,CreateDate,UpdateDate) values(@Permission,@Name,@AdminID,@AdminID1,getdate(),GETDATE());
end


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRoll]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_InsertRoll]
(
@PageID NVARCHAR(50),
@AdminID int,
@AdminID1 int
)
AS
BEGIN
SET NOCOUNT ON;

insert into RollInfo(PageID,AdminID,AdminID1,CreateDate,UpdateDate) values(@PageID,@AdminID,@AdminID1,getdate(),GETDATE());
end


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertState]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROCEDURE [dbo].[sp_InsertState]
(
@Name NVARCHAR(50),
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
insert into StateInfo(Name,AdminID,CreateDate,UpdateDate) values(@Name,@AdminID,getdate(),GETDATE());
end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAdmin]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_UpdateAdmin]
(
@Name NVARCHAR(50),
@EmailID NVARCHAR(50),
@Mobile NVARCHAR(50),
@PicURL NVARCHAR(100),
@PicBytes VARBINARY(MAX),
@AdminID1 int,
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;

Update AdminInfo set Name=@Name,EmailID=@EmailID,Mobile=@Mobile,PicURL=@PicURL,UpdateAdminID=@AdminID1,UpdateDate=GETDATE() where Status='E' and AdminID=@AdminID
update AdminPicInfo set Status='D' where AdminID=@AdminID and Status='E';
insert into AdminPicInfo(AdminId,ImageBytes) values(@AdminID,@PicBytes);
end


GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCity]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROCEDURE [dbo].[sp_UpdateCity]
(
@CityID int,
@StateID int,
@CityName NVARCHAR(50),

@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
update CityInfo set StateID=@StateID,Name=@CityName,AdminID=@AdminID,UpdateDate=getdate() where CityID=@CityID and status='E';
end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateContactUsInfo]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



Create PROCEDURE [dbo].[sp_UpdateContactUsInfo]
(
@ContactUSID int,
@Reply nvarchar(MAX),
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
update ContactUsInfo set Reply=@Reply,ReadStatus='Y',AdminID=@AdminID,UpdateDate=getdate(),ReadDate=GETDATE() where ContactUSID =@ContactUSID;
end

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePage]    Script Date: 16/10/2024 21:28:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[sp_UpdatePage]
(
@PageID int,
@ModuleID int,
@PageName NVARCHAR(50),
@PageLink  NVARCHAR(50),
@AdminID int
)
AS
BEGIN
SET NOCOUNT ON;
update PageInfo set ModuleID=@ModuleID,PageName=@PageName,PageLink=@PageLink,AdminID=@AdminID,UpdateDate=getdate() where PageID=@PageID and status='E';
end
GO
